.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(
    to right bottom,
    rgb(230, 100, 101),
    rgb(145, 152, 229)
  );
  background: white;
  background: #333;
  font-family: 'Open Sans', sans-serif;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard {
  background: #fff;
  min-height: 80vh;
  width: 50%;
  background: linear-gradient(
    to right bottom,
    rgb(230, 100, 101),
    rgb(145, 152, 229)
  );
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  color: white;
  min-height: 54px;
}

.infoModule {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.buttonContainer button {
  background: rgb(163, 141, 203);
  color: white;
  border: 1px solid rgb(163, 141, 203);
  border-radius: 0.55rem;
  padding: 0.5rem 1rem;
  transition: 0.2s all ease-in-out;
  text-transform: capitalize;
  flex: 0.25;
  font-family: 'Open Sans', sans-serif;
}

.buttonContainer button:hover {
  background: white;
  color: rgb(145, 152, 229);
  cursor: pointer;
}

.controls {
  width: 90%;
  height: 70%;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1.5rem;
}

@media (max-width: 767px) {
  .container,
  .main {
    padding: 0;
  }

  .dashboard {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
